*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(images/bitmap1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ball{
    display: flex;
    justify-content: space-evenly;
   
    .bol{
        margin-top: 30px;
        }
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(15, 15, 41);
    padding: 25px;
    margin-left: 450px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    /* border: 2px solid; */
    color: rgb(136, 138, 139);
    text-decoration: none;
    padding: 15px;
}

.navbar a:hover{
    background-color: rgb(135, 135, 145);
}

.navbar li{
    float: left; 
}

#part2{
    display: flex;
}

section{
    margin-top: 120px;
}

section h3{
    color: white;
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    font-weight: 100;
}   

section h2{
    color: white;
    margin-left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
}  

section h1{
    color: white;
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
}

section p{
    color: white;
    margin-left: 150px;
    font-size: 13px;
    line-height: 1.2;
    
}

.sev{
    display: flex;
    justify-content: right;
    max-height: 550px;
    margin-top: 70px;
    margin-left: 50px;
}

@media screen and  {
    
}

